@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-color: #F5F5F7;
    --dark-color: #000;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;

    @media screen and (max-width:768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }

    @media screen and (max-width:375.98px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}



html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    &::selection {
        background-color: var(--dark-color);
        color: var(--light-color);
    }

}

[class*="__container"] {
    max-width: 1420px;
    margin: 0 auto;

}

.container {
    padding: 0 var(--container-padding-inline);
}

.title {
    font-size: 40px;
    line-height: normal;
    text-align: center;
    margin-bottom: 53px;

    span {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 75px;
            height: 2px;
            background-color: var(--dark-color);
            right: 0;
            bottom: 0;
        }
    }

    @media screen and (max-width:768px) {
        & {
            margin-bottom: 43px;
            font-size: 36px;
        }

    }
}

/* hero ==================================================================== */
.hero {
    position: relative;
    padding-top: 75px;
    padding-inline: var(--container-padding-inline);
    background: url('../img/hero-bg.jpg') center/cover no-repeat;
    height: 100vh;
    color: var(--light-color);

    @media screen and (max-width:768px) {
        & {
            background: url('../img/tablet_bg.jpg') center/cover no-repeat;
        }
    }

    @media screen and (max-width:576px) {
        & {
            min-height: 500px;
            padding-top: 50px;
            height: 100svh;
        }
    }

    @media screen and (max-width:375.98px) {
        & {
            background: url('../img/mobile__bg.jpg') center/cover no-repeat;
        }
    }

    &::selection {
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .hero__title {
        font-size: 60px;
        line-height: normal;
        font-weight: 400;
        margin-bottom: 124px;
        text-transform: uppercase;

        @media screen and (max-width:768px) {
            font-size: 48px;
            margin-bottom: 80px;
        }

        @media screen and (max-width:576px) {
            font-size: 26px;
            margin-bottom: 30px;
        }
    }

    .hero__subtitle {
        font-size: 32px;
        font-weight: 100;
        line-height: normal;
        margin-bottom: 20px;

        @media screen and (max-width:576px) {
            font-size: 16px;
        }
    }

    .hero__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 3px 10px;
        border: 1px solid var(--light-color);
        color: var(--light-color, #f5f5f7);
        font-weight: 100;
        line-height: normal;
        min-width: 160px;
        flex-wrap: wrap;
        min-height: 38px;
        margin-bottom: 100px;
        /* Это сделает отрисовку ещё чище. */
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        /* transition: text-shadow 0.3s ease, box-shadow 0.3s ease-out, font-weight 0.3s ease-out; */
        transition: all 0.3s ease-out;


        &:hover {
            font-weight: 500;
            box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
        }

        @media screen and (max-width:768px) {
            & {
                margin-bottom: 80px;
            }
        }

        @media screen and (max-width:576px) {
            & {
                margin-bottom: 233px;
                font-size: 14px;
                min-width: 120px;
                min-height: 30px;
            }
        }
    }

    .hero__addres {
        font-size: 16px;
        line-height: normal;
        font-weight: 100;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 49px;
            background: url('../icons/arrow.svg') center/contain no-repeat;
            left: -45px;
            top: -17px;
        }

        @media screen and (max-width:768px) {
            &::after {
                left: -40px;
            }
        }

        @media screen and (max-width:750px) {
            &::after {
                display: none;
            }
        }

        @media screen and (max-width:576px) {
            & {
                font-size: 16px;
            }
        }
    }

    .hero__list {}
}

.keywords-list {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 360px;
    left: 0;
    right: 0;
    height: 20px;
    gap: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

    .keywords-list__item {
        color: var(--light-color);
        font-size: 10px;
        font-weight: 100;
        line-height: normal;

    }

    @media screen and (max-width:1440px) {
        padding-inline: 15px;
    }

    /*  @media screen and (max-width:768px) {
        & .keywords-list__item {
            display: none;
        }

    }

    @media screen and (max-width:768px) {
        & .keywords-list__item:nth-child(-n + 9) {
            display: list-item;
        }
    } */
    @media screen and (max-width:768px) {
        & .keywords-list__item:nth-last-child(-n + 6) {
            display: none;
        }

    }

    @media screen and (max-width:576px) {
        & .keywords-list__item:nth-last-child(-n + 11) {
            display: none;
        }

    }

}


/* about ======================================================================================= */

.about {
    padding-block: 80px;
    color: var(--dark-color);
    background-color: var(--light-color);

    @media screen and (max-width:768px) {
        & {
            padding-block: 50px;

        }
    }

    .about__title {
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 20px;
    }

    .about__text {
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
        max-width: 1100px;
        margin-bottom: 80px;

        span {
            color: #A5A5A5;
        }

        @media screen and (max-width:768px) {
            font-size: 24px;
            margin-bottom: 40px;
        }

        @media screen and (max-width:375px) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}

.about__container {}





.services {
    display: flex;
    column-gap: 30px;

    @media screen and (max-width:768px) {
        flex-direction: column;
        gap: 40px;
    }
}

.services__info {
    flex-basis: 50%;
}

.services__title {
    font-style: italic;
    line-height: normal;
    margin-bottom: 20px;
}

.services__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    line-height: normal;

    li {
        position: relative;

        &:first-child::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('../icons/camera\ 1.svg')center/cover no-repeat;
            left: -30px;
            top: 2px;


        }

        &:nth-child(3)::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('../icons/edit\ 1.svg')center/cover no-repeat;
            left: -30px;
            top: 2px;


        }
    }

    @media screen and (max-width:650px) {
        & li:first-child::before {
            display: none;
        }

        & li:nth-child(3)::before {
            display: none;
        }
    }

    @media screen and (max-width:375px) {
        & li {
            font-size: 14px;
        }
    }



}

.services__text {
    flex-basis: 50%;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.02em;

    @media screen and (max-width:375px) {
        & {
            font-size: 12px;
        }
    }
}

/* works ====================================================================  */
.works {
    padding-bottom: 80px;
    background-color: var(--light-color);

    @media screen and (max-width:768px) {

        padding-bottom: 50px;

    }
}

.works__container {}

.works__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.51fr;
    gap: 50px 30px;

    img {
        width: 100%;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        display: block;
        object-fit: cover;
    }

    @media screen and (max-width:768px) {
        & {
            gap: 30px 20px;
        }
    }

    @media screen and (max-width:375.98px) {
        & {
            grid-template-rows: repeat(4, 220px) 0.51fr;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(200px, 220px);
        }

        & img {
            height: 100%;
        }
    }
}

/* inspiration ================================================================= */

.inspiration {
    padding-bottom: 80px;
    background-color: var(--light-color);

    .inspiration__inner {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template-rows: repeat(2, 225px);
        gap: 30px;

        img {
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .inspiration__inner > :nth-child(4) {
        grid-column: 4;
        grid-row: 1 / 3;
    }

    .inspiration__inner > :nth-child(6) {
        grid-column: span 2;
    }
}

.container {}

.title {}

.inspiration__inner {}

/* customers ============================================================================== */

.customers {
    padding-bottom: 100px;
    background-color: var(--light-color);
}

.container {}

.title {}

.customers__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    li {
        width: calc((100% - 90px) / 4);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
            filter: grayscale(100%);
            opacity: 0.6;
            transition: all 0.4s ease;

            &:hover {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }
}

/* footer =================================================================================== */

.footer {
    padding-inline: 10%;
    padding-block: 84px;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social {
    display: flex;
    gap: 30px;

    li {
        width: 32px;
        height: 32px;
        border: 1px solid var(--light-color);
        background: rgba(217, 217, 217, 0);

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}

/* media queries ========================================================================== */